<style>
  body {
      font-family: "Arial", sans-serif;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f0/Campo_del_Santiago_Bernabeu.jpg);
      ;
  }

  .container {
      max-width: 800px;
      margin: auto;
      padding: 40px;
      box-sizing: border-box;
      position: relative;
      background-color: rgba(18, 239, 14, 0.8);
  }

  .heading {
      font-size: 40px;
      font-weight: bold;
      color: #030167;
      text-align: center;
      margin-bottom: 40px;
  }

  .heading::before,
  .heading::after {
      content: "";
      position: absolute;
      width: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
  }

  .component {
      background-color: #0000005e;
      border: 2px solid #ffffff;
      border-radius: 8px;
      padding: 30px;
      margin-bottom: 40px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .component-title {
      font-size: 28px;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 20px;
  }
</style>

<div class="container">
  <h1 class="heading">Futbol</h1>

  <div class="component">
      <h2 class="component-title">Lista de Equipos</h2>
<app-equipos-list></app-equipos-list>
</div>

<div class="component">
<h2 class="component-title">Lista de Partidos</h2>
<app-partidos-list></app-partidos-list>
</div>

<router-outlet></router-outlet>
